@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input-style {
    @apply outline-none !bg-inherit pb-1 !w-full;
  }
  .btn-form {
    @apply font-bold flex items-center justify-center rounded-2xl shadow-lg bg-auth-orange py-3 px-10;
  }
}

@font-face {
  font-family: "Estedad-VF";
  src: url("../fonts/Estedad.woff2") format("woff2");

  font-weight: normal;
  font-style: normal;
}

*,
html,
body {
  font-family: "Estedad-VF";
  @apply font-Estedad_VF;
}

.form-style {
  @apply flex flex-col gap-2;
}
.form-style label {
  @apply text-sm text-primary;
}
.form-style .main-form {
  @apply flex items-center gap-3 border rounded-2xl border-auth-blue px-2.5 py-2;
}
.form-style .main-form .icon-label {
  @apply flex items-center justify-center p-0.5;
}

/*? FormKit */
.formkit-outer {
  @apply w-full;
}

.formkit-messages {
  @apply text-red-500;
}

/* .formkit-wrapper,
.formkit-outer {
  @apply !mb-0;
} */

/* .formkit-inner,
.formkit-input {
  @apply !ring-0 focus-within:!ring-0 focus-within:!border-none focus:!ring-0 !ring-offset-0 !outline-none;
} */
